<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.permission.mapper.MenuMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.permission.entity.Menu">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="title" property="title" jdbcType="VARCHAR"/>
            <result column="icon" property="icon" jdbcType="VARCHAR"/>
            <result column="path" property="path" jdbcType="VARCHAR"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
            <result column="code" property="code" jdbcType="VARCHAR"/>
            <result column="home_code" property="homeCode" jdbcType="VARCHAR"/>
            <result column="type" property="type" jdbcType="INTEGER"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="component" property="component" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">menu</sql>
    <sql id="Base_Column_List">
            `id`,
            `title`,
            `icon`,
            `path`,
            `name`,
            `code`,
            `home_code`,
            `type`,
            `create_time`,
            `component`,
            `state`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="title != null and title != ''">
                        AND `title`=#{title}
                    </if>
                    <if test="icon != null and icon != ''">
                        AND `icon`=#{icon}
                    </if>
                    <if test="path != null and path != ''">
                        AND `path`=#{path}
                    </if>
                    <if test="name != null and name != ''">
                        AND `name`=#{name}
                    </if>
                    <if test="code != null and code != ''">
                        AND `code`=#{code}
                    </if>
                    <if test="homeCode != null and homeCode != ''">
                        AND `home_code`=#{homeCode}
                    </if>
                    <if test="type != null">
                        AND `type`=#{type}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
                    <if test="component != null and component != ''">
                        AND `component`=#{component}
                    </if>
                    <if test="state != null">
                        AND `state`=#{state}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.permission.entity.Menu" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `title`,
            `icon`,
            `path`,
            `name`,
            `code`,
            `home_code`,
            `type`,
            `create_time`,
            `component`,
            `state`
        )
        VALUES(
            #{id},
            #{title},
            #{icon},
            #{path},
            #{name},
            #{code},
            #{homeCode},
            #{type},
            #{createTime},
            #{component},
            #{state}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `title`,
            `icon`,
            `path`,
            `name`,
            `code`,
            `home_code`,
            `type`,
            `create_time`,
            `component`,
            `state`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.title},
            #{cm.icon},
            #{cm.path},
            #{cm.name},
            #{cm.code},
            #{cm.homeCode},
            #{cm.type},
            #{cm.createTime},
            #{cm.component},
            #{cm.state}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.permission.entity.Menu">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="title != null and title != ''">
                 `title`=#{title},
            </if>
            <if test="icon != null and icon != ''">
                 `icon`=#{icon},
            </if>
            <if test="path != null and path != ''">
                 `path`=#{path},
            </if>
            <if test="name != null and name != ''">
                 `name`=#{name},
            </if>
            <if test="code != null and code != ''">
                 `code`=#{code},
            </if>
            <if test="homeCode != null and homeCode != ''">
                 `home_code`=#{homeCode},
            </if>
            <if test="type != null">
                 `type`=#{type},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
            <if test="component != null and component != ''">
                 `component`=#{component},
            </if>
            <if test="state != null">
                 `state`=#{state},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>