<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.permission.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.permission.entity.Role">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="type" property="type" jdbcType="INTEGER"/>
            <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">role</sql>
    <sql id="Base_Column_List">
            `id`,
            `type`,
            `name`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="type != null">
                        AND `type`=#{type}
                    </if>
                    <if test="name != null and name != ''">
                        AND `name`=#{name}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.permission.entity.Role" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `type`,
            `name`
        )
        VALUES(
            #{id},
            #{type},
            #{name}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `type`,
            `name`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.type},
            #{cm.name}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.permission.entity.Role">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="type != null">
                 `type`=#{type},
            </if>
            <if test="name != null and name != ''">
                 `name`=#{name},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>