<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.permission.mapper.RoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.permission.entity.RoleMenu">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="type" property="type" jdbcType="INTEGER"/>
            <result column="home_menu_code" property="homeMenuCode" jdbcType="VARCHAR"/>
            <result column="menu_code" property="menuCode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">role_menu</sql>
    <sql id="Base_Column_List">
            `id`,
            `type`,
            `home_menu_code`,
            `menu_code`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="type != null">
                        AND `type`=#{type}
                    </if>
                    <if test="homeMenuCode != null and homeMenuCode != ''">
                        AND `home_menu_code`=#{homeMenuCode}
                    </if>
                    <if test="menuCode != null and menuCode != ''">
                        AND `menu_code`=#{menuCode}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.permission.entity.RoleMenu" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `type`,
            `home_menu_code`,
            `menu_code`
        )
        VALUES(
            #{id},
            #{type},
            #{homeMenuCode},
            #{menuCode}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `type`,
            `home_menu_code`,
            `menu_code`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.type},
            #{cm.homeMenuCode},
            #{cm.menuCode}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.permission.entity.RoleMenu">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="type != null">
                 `type`=#{type},
            </if>
            <if test="homeMenuCode != null and homeMenuCode != ''">
                 `home_menu_code`=#{homeMenuCode},
            </if>
            <if test="menuCode != null and menuCode != ''">
                 `menu_code`=#{menuCode},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>