<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.settle.mapper.SettleOrderMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.settle.entity.SettleOrder">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
            <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="reason" property="reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">settle_order</sql>
    <sql id="Base_Column_List">
            `id`,
            `state`,
            `order_no`,
            `create_time`,
            `reason`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="state != null">
                        AND `state`=#{state}
                    </if>
                    <if test="orderNo != null and orderNo != ''">
                        AND `order_no`=#{orderNo}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
                    <if test="reason != null and reason != ''">
                        AND `reason`=#{reason}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>


    <select id="selectByOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE
        order_no = #{orderNo} ORDER BY id DESC LIMIT 1
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.settle.entity.SettleOrder" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `state`,
            `order_no`,
            `create_time`,
            `reason`
        )
        VALUES(
            #{id},
            #{state},
            #{orderNo},
            #{createTime},
            #{reason}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `state`,
            `order_no`,
            `create_time`,
            `reason`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.state},
            #{cm.orderNo},
            #{cm.createTime},
            #{cm.reason}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.settle.entity.SettleOrder">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="state != null">
                 `state`=#{state},
            </if>
            <if test="orderNo != null and orderNo != ''">
                 `order_no`=#{orderNo},
            </if>
            <if test="createTime != null">
                 `create_time`=#{createTime},
            </if>
            <if test="reason != null and reason != ''">
                 `reason`=#{reason},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>