<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.authorize.mapper.RedPacketConfigurationMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.authorize.entity.RedPacketConfiguration">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="name_code" property="nameCode" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="BIGINT"/>
        <result column="status" property="status" jdbcType="BIGINT"/>
        <result column="amount_info" property="amountInfo" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="table">red_packet_configuration</sql>
    <sql id="Base_Column_List">
        `id`,
        `name`,
        `name_code`,
        `level`,
        `status`,
        `amount_info`,
        `create_time`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">
                    AND `id`=#{id}
                </if>
                <if test="name != null and name != ''">
                    AND `name`=#{name}
                </if>
                <if test="nameCode != null and nameCode != ''">
                    AND `name_code`=#{nameCode}
                </if>
                <if test="level != null">
                    AND `level`=#{level}
                </if>
                <if test="status != null">
                    AND `status`=#{status}
                </if>
                <if test="createTime != null">
                    AND `create_time`=#{createTime}
                </if>
            </trim>
        </where>
        ORDER BY id DESC
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <select id="selectByLevelAndNameCode" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE `level` = #{level} AND name_code = #{nameCode} ORDER BY id DESC LIMIT 1
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.authorize.entity.RedPacketConfiguration" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
        `id`,
        `name`,
        `name_code`,
        `level`,
        `status`,
        `amount_info`,
        `create_time`
        )
        VALUES(
        #{id},
        #{name},
        #{nameCode},
        #{level},
        #{status},
        #{amountInfo},
        #{createTime}
        )
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.authorize.entity.RedPacketConfiguration">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="name != null and name != ''">
                `name`=#{name},
            </if>
            <if test="nameCode != null and nameCode != ''">
                `name_code`=#{nameCode},
            </if>
            <if test="level != null">
                `level`=#{level},
            </if>
            <if test="status != null">
                `status`=#{status},
            </if>
            <if test="amountInfo != null and amountInfo != ''">
                `amount_info`=#{amountInfo},
            </if>
            <if test="createTime != null">
                `create_time`=#{createTime},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteById" parameterType="java.util.Map">
        DELETE FROM
        <include refid="table"/>
        WHERE id=#{id}
    </delete>
</mapper>