<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.order.mapper.PayOrderMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.order.entity.PayOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="way_id" property="wayId" jdbcType="VARCHAR"/>
        <result column="package_no" property="packageNo" jdbcType="VARCHAR"/>
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR"/>
        <result column="request_no" property="requestNo" jdbcType="VARCHAR"/>
        <result column="out_order_no" property="outOrderNo" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="VARCHAR"/>
        <result column="settle_amount" property="settleAmount" jdbcType="VARCHAR"/>
        <result column="each_money" property="eachMoney" jdbcType="VARCHAR"/>
        <result column="first_money" property="firstMoney" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="qr_code_url" property="qrCodeUrl" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="deal_state" property="dealState" jdbcType="INTEGER"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">pay_order</sql>
    <sql id="Base_Column_List">
            `id`,
            `app_id`,
            `merchant_no`,
            `store_name`,
            `way_id`,
            `package_no`,
            `out_trade_no`,
            `request_no`,
            `out_order_no`,
            `amount`,
            `settle_amount`,
            `each_money`,
            `first_money`,
            `num`,
            `phone_number`,
            `province`,
            `city`,
            `title`,
            `create_time`,
            `finish_time`,
            `qr_code_url`,
            `state`,
            `deal_state`,
            `reason`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">
                    AND `id`=#{id}
                </if>
                <if test="appId != null and appId != ''">
                    AND `app_id`=#{appId}
                </if>
                <if test="merchantNo != null and merchantNo != ''">
                    AND `merchant_no`=#{merchantNo}
                </if>
                <if test="storeName != null and storeName != ''">
                    AND `store_name`=#{storeName}
                </if>
                <if test="wayId != null and wayId != ''">
                    AND `way_id`=#{wayId}
                </if>
                <if test="packageNo != null and packageNo != ''">
                    AND `package_no`=#{packageNo}
                </if>
                <if test="outTradeNo != null and outTradeNo != ''">
                    AND `out_trade_no`=#{outTradeNo}
                </if>
                <if test="requestNo != null and requestNo != ''">
                    AND `request_no`=#{requestNo}
                </if>
                <if test="outOrderNo != null and outOrderNo != ''">
                    AND `out_order_no`=#{outOrderNo}
                </if>
                <if test="amount != null and amount != ''">
                    AND `amount`=#{amount}
                </if>
                <if test="settleAmount != null and settleAmount != ''">
                    AND `settle_amount`=#{settleAmount}
                </if>
                <if test="eachMoney != null and eachMoney != ''">
                    AND `each_money`=#{eachMoney}
                </if>
                <if test="firstMoney != null and firstMoney != ''">
                    AND `first_money`=#{firstMoney}
                </if>
                <if test="num != null">
                    AND `num`=#{num}
                </if>
                <if test="phoneNumber != null and phoneNumber != ''">
                    AND `phone_number`=#{phoneNumber}
                </if>
                <if test="province != null and province != ''">
                    AND `province`=#{province}
                </if>
                <if test="city != null and city != ''">
                    AND `city`=#{city}
                </if>
                <if test="title != null and title != ''">
                    AND `title`=#{title}
                </if>
                <if test="createTime != null">
                    AND `create_time`=#{createTime}
                </if>
                <if test="finishTime != null">
                    AND `finish_time`=#{finishTime}
                </if>
                <if test="qrCodeUrl != null and qrCodeUrl != ''">
                    AND `qr_code_url`=#{qrCodeUrl}
                </if>
                <if test="state != null">
                    AND `state`=#{state}
                </if>
                <if test="dealState != null">
                    AND `deal_state`=#{dealState}
                </if>
                <if test="reason != null and reason != ''">
                    AND `reason`=#{reason}
                </if>
            </trim>
        </where>
        ORDER BY id DESC
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.order.entity.PayOrder" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
        `id`,
        `app_id`,
        `merchant_no`,
        `store_name`,
        `way_id`,
        `package_no`,
        `out_trade_no`,
        `request_no`,
        `out_order_no`,
        `amount`,
        `settle_amount`,
        `each_money`,
        `first_money`,
        `num`,
        `phone_number`,
        `province`,
        `city`,
        `title`,
        `create_time`,
        `finish_time`,
        `qr_code_url`,
        `state`,
        `deal_state`,
        `reason`
        )
        VALUES(
        #{id},
        #{appId},
        #{merchantNo},
        #{storeName},
        #{wayId},
        #{packageNo},
        #{outTradeNo},
        #{requestNo},
        #{outOrderNo},
        #{amount},
        #{settleAmount},
        #{eachMoney},
        #{firstMoney},
        #{num},
        #{phoneNumber},
        #{province},
        #{city},
        #{title},
        #{createTime},
        #{finishTime},
        #{qrCodeUrl},
        #{state},
        #{dealState},
        #{reason}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
        `id`,
        `app_id`,
        `merchant_no`,
        `store_name`,
        `way_id`,
        `package_no`,
        `out_trade_no`,
        `request_no`,
        `out_order_no`,
        `amount`,
        `settle_amount`,
        `each_money`,
        `first_money`,
        `num`,
        `phone_number`,
        `province`,
        `city`,
        `title`,
        `create_time`,
        `finish_time`,
        `qr_code_url`,
        `state`,
        `deal_state`,
        `reason`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.appId},
            #{cm.merchantNo},
            #{cm.storeName},
            #{cm.wayId},
            #{cm.packageNo},
            #{cm.outTradeNo},
            #{cm.requestNo},
            #{cm.outOrderNo},
            #{cm.amount},
            #{cm.settleAmount},
            #{cm.eachMoney},
            #{cm.firstMoney},
            #{cm.num},
            #{cm.phoneNumber},
            #{cm.province},
            #{cm.city},
            #{cm.title},
            #{cm.createTime},
            #{cm.finishTime},
            #{cm.qrCodeUrl},
            #{cm.state},
            #{cm.dealState},
            #{cm.reason}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <select id="selectByOutTradeNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE out_trade_no = #{outTradeNo} ORDER BY id DESC LIMIT 1
    </select>

    <select id="selectByOutOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE out_order_no = #{outOrderNo} ORDER BY id DESC LIMIT 1
    </select>

    <delete id="deleteById"  parameterType="java.lang.Long">
        DELETE
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="com.zanclick.prepay.order.entity.PayOrder">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="appId != null and appId != ''">
                `app_id`=#{appId},
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                `merchant_no`=#{merchantNo},
            </if>
            <if test="storeName != null and storeName != ''">
                `store_name`=#{storeName},
            </if>
            <if test="wayId != null and wayId != ''">
                `way_id`=#{wayId},
            </if>
            <if test="packageNo != null and packageNo != ''">
                `package_no`=#{packageNo},
            </if>
            <if test="outTradeNo != null and outTradeNo != ''">
                `out_trade_no`=#{outTradeNo},
            </if>
            <if test="requestNo != null and requestNo != ''">
                `request_no`=#{requestNo},
            </if>
            <if test="outOrderNo != null and outOrderNo != ''">
                `out_order_no`=#{outOrderNo},
            </if>
            <if test="amount != null and amount != ''">
                `amount`=#{amount},
            </if>
            <if test="settleAmount != null and settleAmount != ''">
                `settle_amount`=#{settleAmount},
            </if>
            <if test="eachMoney != null and eachMoney != ''">
                `each_money`=#{eachMoney},
            </if>
            <if test="firstMoney != null and firstMoney != ''">
                `first_money`=#{firstMoney},
            </if>
            <if test="num != null">
                `num`=#{num},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                `phone_number`=#{phoneNumber},
            </if>
            <if test="province != null and province != ''">
                `province`=#{province},
            </if>
            <if test="city != null and city != ''">
                `city`=#{city},
            </if>
            <if test="title != null and title != ''">
                `title`=#{title},
            </if>
            <if test="createTime != null">
                `create_time`=#{createTime},
            </if>
            <if test="finishTime != null">
                `finish_time`=#{finishTime},
            </if>
            <if test="qrCodeUrl != null and qrCodeUrl != ''">
                `qr_code_url`=#{qrCodeUrl},
            </if>
            <if test="state != null">
                `state`=#{state},
            </if>
            <if test="dealState != null">
                `deal_state`=#{dealState},
            </if>
            <if test="reason != null and reason != ''">
                `reason`=#{reason},
            </if>
        </set>
        WHERE id=#{id}
    </update>

</mapper>