<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.order.mapper.PayOrderMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.order.entity.PayOrder">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="app_id" property="appId" jdbcType="VARCHAR"/>
        <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR"/>
        <result column="store_name" property="storeName" jdbcType="VARCHAR"/>
        <result column="way_id" property="wayId" jdbcType="VARCHAR"/>
        <result column="package_no" property="packageNo" jdbcType="VARCHAR"/>
        <result column="out_trade_no" property="outTradeNo" jdbcType="VARCHAR"/>
        <result column="request_no" property="requestNo" jdbcType="VARCHAR"/>
        <result column="out_order_no" property="outOrderNo" jdbcType="VARCHAR"/>
        <result column="auth_no" property="authNo" jdbcType="VARCHAR"/>
        <result column="amount" property="amount" jdbcType="VARCHAR"/>
        <result column="settle_amount" property="settleAmount" jdbcType="VARCHAR"/>
        <result column="each_money" property="eachMoney" jdbcType="VARCHAR"/>
        <result column="first_money" property="firstMoney" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR"/>
        <result column="province" property="province" jdbcType="VARCHAR"/>
        <result column="city" property="city" jdbcType="VARCHAR"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="finish_time" property="finishTime" jdbcType="TIMESTAMP"/>
        <result column="qr_code_url" property="qrCodeUrl" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="INTEGER"/>
        <result column="deal_state" property="dealState" jdbcType="INTEGER"/>
        <result column="red_pack_state" property="redPackState" jdbcType="INTEGER"/>
        <result column="red_pack_amount" property="redPackAmount" jdbcType="VARCHAR"/>
        <result column="red_pack_seller_no" property="redPackSellerNo" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="seller_no" property="sellerNo" jdbcType="VARCHAR"/>
        <result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
        <result column="city_name" property="cityName" jdbcType="VARCHAR"/>
        <result column="district_name" property="districtName" jdbcType="VARCHAR"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">pay_order</sql>
    <sql id="Base_Column_List">
            `id`,
            `app_id`,
            `merchant_no`,
            `store_name`,
            `way_id`,
            `package_no`,
            `out_trade_no`,
            `request_no`,
            `out_order_no`,
            `auth_no`,
            `amount`,
            `settle_amount`,
            `each_money`,
            `first_money`,
            `num`,
            `phone_number`,
            `province`,
            `city`,
            `title`,
            `create_time`,
            `finish_time`,
            `qr_code_url`,
            `state`,
            `deal_state`,
            `red_pack_state`,
            `red_pack_amount`,
            `red_pack_seller_no`,
            `name`,
            `seller_no`,
            `province_name`,
            `city_name`,
            `district_name`,
            `reason`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                <if test="id != null">
                    AND `id`=#{id}
                </if>
                <if test="appId != null and appId != ''">
                    AND `app_id`=#{appId}
                </if>
                <if test="merchantNo != null and merchantNo != ''">
                    AND `merchant_no` LIKE concat ('%',#{merchantNo},'%')
                </if>
                <if test="storeName != null and storeName != ''">
                    AND `store_name`=#{storeName}
                </if>
                <if test="wayId != null and wayId != ''">
                    AND `way_id` LIKE concat ('%',#{wayId},'%')
                </if>
                <if test="packageNo != null and packageNo != ''">
                    AND `package_no`=#{packageNo}
                </if>
                <if test="outTradeNo != null and outTradeNo != ''">
                    AND `out_trade_no` LIKE concat ('%',#{outTradeNo},'%')
                </if>
                <if test="requestNo != null and requestNo != ''">
                    AND `request_no` LIKE concat ('%',#{requestNo},'%')
                </if>
                <if test="outOrderNo != null and outOrderNo != ''">
                    AND `out_order_no` LIKE concat ('%',#{outOrderNo},'%')
                </if>
                <if test="authNo != null and authNo != ''">
                    AND `auth_no`=#{authNo}
                </if>
                <if test="amount != null and amount != ''">
                    AND `amount`=#{amount}
                </if>
                <if test="settleAmount != null and settleAmount != ''">
                    AND `settle_amount`=#{settleAmount}
                </if>
                <if test="eachMoney != null and eachMoney != ''">
                    AND `each_money`=#{eachMoney}
                </if>
                <if test="firstMoney != null and firstMoney != ''">
                    AND `first_money`=#{firstMoney}
                </if>
                <if test="num != null">
                    AND `num`=#{num}
                </if>
                <if test="phoneNumber != null and phoneNumber != ''">
                    AND `phone_number`=#{phoneNumber}
                </if>
                <if test="province != null and province != ''">
                    AND `province`=#{province}
                </if>
                <if test="city != null and city != ''">
                    AND `city`=#{city}
                </if>
                <if test="title != null and title != ''">
                    AND `title`=#{title}
                </if>
                <if test="createTime != null">
                    AND `create_time`=#{createTime}
                </if>
                <if test="finishTime != null">
                    AND `finish_time`=#{finishTime}
                </if>
                <if test="qrCodeUrl != null and qrCodeUrl != ''">
                    AND `qr_code_url`=#{qrCodeUrl}
                </if>
                <if test="state != null">
                    AND `state`=#{state}
                </if>
                <if test="dealState != null">
                    AND `deal_state`=#{dealState}
                </if>
                <if test="redPackState != null">
                    AND `red_pack_state`=#{redPackState}
                </if>
                <if test="redPackAmount != null and redPackAmount != ''">
                    AND `red_pack_amount`=#{redPackAmount}
                </if>
                <if test="redPackSellerNo != null and redPackSellerNo != ''">
                    AND `red_pack_seller_no`=#{redPackSellerNo}
                </if>
                <if test="name != null and name != ''">
                    AND `name`=#{name}
                </if>
                <if test="sellerNo != null and sellerNo != ''">
                    AND `seller_no`=#{sellerNo}
                </if>
                <if test="provinceName != null and provinceName != ''">
                    AND `province_name`=#{provinceName}
                </if>
                <if test="cityName != null and cityName != ''">
                    AND `city_name`=#{cityName}
                </if>
                <if test="districtName != null and districtName != ''">
                    AND `district_name`=#{districtName}
                </if>
                <if test="reason != null and reason != ''">
                    AND `reason`=#{reason}
                </if>
                <if test="startTime != null">
                    and DATE_FORMAT(create_time,'%Y-%m-%d') &gt;= #{startTime}
                </if>
                <if test="endTime != null">
                    and DATE_FORMAT(create_time,'%Y-%m-%d') &lt;= #{endTime}
                </if>
            </trim>
        </where>
        ORDER BY id DESC
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.order.entity.PayOrder" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
        `id`,
        `app_id`,
        `merchant_no`,
        `store_name`,
        `way_id`,
        `package_no`,
        `out_trade_no`,
        `request_no`,
        `out_order_no`,
        `auth_no`,
        `amount`,
        `settle_amount`,
        `each_money`,
        `first_money`,
        `num`,
        `phone_number`,
        `province`,
        `city`,
        `title`,
        `create_time`,
        `finish_time`,
        `qr_code_url`,
        `state`,
        `deal_state`,
        `red_pack_state`,
        `red_pack_amount`,
        `red_pack_seller_no`,
        `name`,
        `seller_no`,
        `province_name`,
        `city_name`,
        `district_name`,
        `reason`
        )
        VALUES(
        #{id},
        #{appId},
        #{merchantNo},
        #{storeName},
        #{wayId},
        #{packageNo},
        #{outTradeNo},
        #{requestNo},
        #{outOrderNo},
        #{authNo},
        #{amount},
        #{settleAmount},
        #{eachMoney},
        #{firstMoney},
        #{num},
        #{phoneNumber},
        #{province},
        #{city},
        #{title},
        #{createTime},
        #{finishTime},
        #{qrCodeUrl},
        #{state},
        #{dealState},
        #{redPackState},
        #{redPackAmount},
        #{redPackSellerNo},
        #{name},
        #{sellerNo},
        #{provinceName},
        #{cityName},
        #{districtName},
        #{reason}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
        `id`,
        `app_id`,
        `merchant_no`,
        `store_name`,
        `way_id`,
        `package_no`,
        `out_trade_no`,
        `request_no`,
        `out_order_no`,
        `auth_no`,
        `amount`,
        `settle_amount`,
        `each_money`,
        `first_money`,
        `num`,
        `phone_number`,
        `province`,
        `city`,
        `title`,
        `create_time`,
        `finish_time`,
        `qr_code_url`,
        `state`,
        `deal_state`,
        `red_pack_state`,
        `red_pack_amount`,
        `red_pack_seller_no`,
        `name`,
        `seller_no`,
        `province_name`,
        `city_name`,
        `district_name`,
        `reason`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.appId},
            #{cm.merchantNo},
            #{cm.storeName},
            #{cm.wayId},
            #{cm.packageNo},
            #{cm.outTradeNo},
            #{cm.requestNo},
            #{cm.outOrderNo},
            #{cm.authNo},
            #{cm.amount},
            #{cm.settleAmount},
            #{cm.eachMoney},
            #{cm.firstMoney},
            #{cm.num},
            #{cm.phoneNumber},
            #{cm.province},
            #{cm.city},
            #{cm.title},
            #{cm.createTime},
            #{cm.finishTime},
            #{cm.qrCodeUrl},
            #{cm.state},
            #{cm.dealState},
            #{cm.redPackState},
            #{cm.redPackAmount},
            #{cm.redPackSellerNo},
            #{cm.name},
            #{cm.sellerNo},
            #{cm.provinceName},
            #{cm.cityName},
            #{cm.districtName},
            #{cm.reason}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <select id="selectByOutTradeNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE out_trade_no = #{outTradeNo} ORDER BY id DESC LIMIT 1
    </select>

    <select id="selectByOutOrderNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE out_order_no = #{outOrderNo} ORDER BY id DESC LIMIT 1
    </select>

    <select id="selectByAuthNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE auth_no = #{authNo} ORDER BY id DESC LIMIT 1
    </select>

    <delete id="deleteById"  parameterType="java.lang.Long">
        DELETE
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id = #{id}
    </delete>

    <update id="updateById" parameterType="com.zanclick.prepay.order.entity.PayOrder">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="appId != null and appId != ''">
                `app_id`=#{appId},
            </if>
            <if test="merchantNo != null and merchantNo != ''">
                `merchant_no`=#{merchantNo},
            </if>
            <if test="storeName != null and storeName != ''">
                `store_name`=#{storeName},
            </if>
            <if test="wayId != null and wayId != ''">
                `way_id`=#{wayId},
            </if>
            <if test="packageNo != null and packageNo != ''">
                `package_no`=#{packageNo},
            </if>
            <if test="outTradeNo != null and outTradeNo != ''">
                `out_trade_no`=#{outTradeNo},
            </if>
            <if test="requestNo != null and requestNo != ''">
                `request_no`=#{requestNo},
            </if>
            <if test="outOrderNo != null and outOrderNo != ''">
                `out_order_no`=#{outOrderNo},
            </if>
            <if test="authNo != null and authNo != ''">
                `auth_no`=#{authNo},
            </if>
            <if test="amount != null and amount != ''">
                `amount`=#{amount},
            </if>
            <if test="settleAmount != null and settleAmount != ''">
                `settle_amount`=#{settleAmount},
            </if>
            <if test="eachMoney != null and eachMoney != ''">
                `each_money`=#{eachMoney},
            </if>
            <if test="firstMoney != null and firstMoney != ''">
                `first_money`=#{firstMoney},
            </if>
            <if test="num != null">
                `num`=#{num},
            </if>
            <if test="phoneNumber != null and phoneNumber != ''">
                `phone_number`=#{phoneNumber},
            </if>
            <if test="province != null and province != ''">
                `province`=#{province},
            </if>
            <if test="city != null and city != ''">
                `city`=#{city},
            </if>
            <if test="title != null and title != ''">
                `title`=#{title},
            </if>
            <if test="createTime != null">
                `create_time`=#{createTime},
            </if>
            <if test="finishTime != null">
                `finish_time`=#{finishTime},
            </if>
            <if test="qrCodeUrl != null and qrCodeUrl != ''">
                `qr_code_url`=#{qrCodeUrl},
            </if>
            <if test="state != null">
                `state`=#{state},
            </if>
            <if test="dealState != null">
                `deal_state`=#{dealState},
            </if>
            <if test="redPackState != null">
                `red_pack_state`=#{redPackState},
            </if>
            <if test="redPackAmount != null and redPackAmount != ''">
                `red_pack_amount`=#{redPackAmount},
            </if>
            <if test="redPackSellerNo != null and redPackSellerNo != ''">
                `red_pack_seller_no`=#{redPackSellerNo},
            </if>
            <if test="name != null and name != ''">
                `name`=#{name},
            </if>
            <if test="sellerNo != null and sellerNo != ''">
                `seller_no`=#{sellerNo},
            </if>
            <if test="provinceName != null and provinceName != ''">
                `province_name`=#{provinceName},
            </if>
            <if test="cityName != null and cityName != ''">
                `city_name`=#{cityName},
            </if>
            <if test="districtName != null and districtName != ''">
                `district_name`=#{districtName},
            </if>
            <if test="reason != null and reason != ''">
                `reason`=#{reason},
            </if>
        </set>
        WHERE id=#{id}
    </update>
    <select id="redPacketList" resultType="com.zanclick.prepay.order.vo.RedPacketList">
        select po.out_Trade_No,po.amount,po.way_id,po.seller_No,rp.createTime,rp.state from  pay_order  po inner  join redpacket rp
        on po.out_Trade_No=rp.orderno
         <where>
        <trim prefixOverrides="and">
        <if test="outTradeNo != null">
            AND `out_Trade_No`=#{outTradeNo}
        </if>
        <if test="wayId != null and wayId != ''">
            AND `way_Id`=#{wayId}
        </if>
        <if test="sellerNo != null and sellerNo != ''">
            AND `seller_No` =#{sellerNo}
        </if>

        <if test="createTime != null and createTime != ''">
                AND `create_Time` &gt;=#{createTime}
            </if>
        <if test="finishTime != null and finishTime != ''">
                AND `finish_time` &lt;= #{finishTime}
         </if>
        </trim>
    </where>
     order by rp.createTime desc

    </select>
</mapper>