<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.setmeal.mapper.SetMealMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.setmeal.entity.SetMeal">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="package_no" property="packageNo" jdbcType="VARCHAR"/>
            <result column="trade_mark" property="tradeMark" jdbcType="VARCHAR"/>
            <result column="app_id" property="appId" jdbcType="VARCHAR"/>
            <result column="total_amount" property="totalAmount" jdbcType="VARCHAR"/>
            <result column="settle_amount" property="settleAmount" jdbcType="VARCHAR"/>
            <result column="num" property="num" jdbcType="INTEGER"/>
            <result column="amount" property="amount" jdbcType="VARCHAR"/>
            <result column="red_pack_amount" property="redPackAmount" jdbcType="VARCHAR"/>
            <result column="red_pack_state" property="redPackState" jdbcType="INTEGER"/>
            <result column="title" property="title" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">set_meal</sql>
    <sql id="Base_Column_List">
            `id`,
            `package_no`,
            `trade_mark`,
            `app_id`,
            `total_amount`,
            `settle_amount`,
            `num`,
            `amount`,
            `red_pack_amount`,
            `red_pack_state`,
            `title`,
            `state`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="packageNo != null and packageNo != ''">
                        AND `package_no`=#{packageNo}
                    </if>
                    <if test="tradeMark != null and tradeMark != ''">
                        AND `trade_mark`=#{tradeMark}
                    </if>
                    <if test="appId != null and appId != ''">
                        AND `app_id`=#{appId}
                    </if>
                    <if test="totalAmount != null and totalAmount != ''">
                        AND `total_amount`=#{totalAmount}
                    </if>
                    <if test="settleAmount != null and settleAmount != ''">
                        AND `settle_amount`=#{settleAmount}
                    </if>
                    <if test="num != null">
                        AND `num`=#{num}
                    </if>
                    <if test="amount != null and amount != ''">
                        AND `amount`=#{amount}
                    </if>
                    <if test="redPackAmount != null and redPackAmount != ''">
                        AND `red_pack_amount`=#{redPackAmount}
                    </if>
                    <if test="redPackState != null">
                        AND `red_pack_state`=#{redPackState}
                    </if>
                    <if test="title != null and title != ''">
                        AND `title`=#{title}
                    </if>
                    <if test="state != null">
                        AND `state`=#{state}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.setmeal.entity.SetMeal" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `package_no`,
            `trade_mark`,
            `app_id`,
            `total_amount`,
            `settle_amount`,
            `num`,
            `amount`,
            `red_pack_amount`,
            `red_pack_state`,
            `title`,
            `state`
        )
        VALUES(
            #{id},
            #{packageNo},
            #{tradeMark},
            #{appId},
            #{totalAmount},
            #{settleAmount},
            #{num},
            #{amount},
            #{redPackAmount},
            #{redPackState},
            #{title},
            #{state}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `package_no`,
            `trade_mark`,
            `app_id`,
            `total_amount`,
            `settle_amount`,
            `num`,
            `amount`,
            `red_pack_amount`,
            `red_pack_state`,
            `title`,
            `state`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.packageNo},
            #{cm.tradeMark},
            #{cm.appId},
            #{cm.totalAmount},
            #{cm.settleAmount},
            #{cm.num},
            #{cm.amount},
            #{cm.redPackAmount},
            #{cm.redPackState},
            #{cm.title},
            #{cm.state}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <select id="selectByPackageNo" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE `package_no`=#{packageNo} ORDER BY id DESC LIMIT 1
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.setmeal.entity.SetMeal">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="packageNo != null and packageNo != ''">
                 `package_no`=#{packageNo},
            </if>
            <if test="tradeMark != null and tradeMark != ''">
                 `trade_mark`=#{tradeMark},
            </if>
            <if test="appId != null and appId != ''">
                 `app_id`=#{appId},
            </if>
            <if test="totalAmount != null and totalAmount != ''">
                 `total_amount`=#{totalAmount},
            </if>
            <if test="settleAmount != null and settleAmount != ''">
                 `settle_amount`=#{settleAmount},
            </if>
            <if test="num != null">
                 `num`=#{num},
            </if>
            <if test="amount != null and amount != ''">
                 `amount`=#{amount},
            </if>
            <if test="redPackAmount != null and redPackAmount != ''">
                 `red_pack_amount`=#{redPackAmount},
            </if>
            <if test="redPackState != null">
                 `red_pack_state`=#{redPackState},
            </if>
            <if test="title != null and title != ''">
                 `title`=#{title},
            </if>
            <if test="state != null">
                 `state`=#{state},
            </if>
        </set>
        WHERE id=#{id}
    </update>

    <update id="unshelveSetMealByAppId" parameterType="java.lang.String">
        UPDATE
        <include refid="table"/>
        set `state`=0 where `app_id`=#{appId}
    </update>
</mapper>