<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.app.mapper.AppInfoMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.app.entity.AppInfo">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="app_id" property="appId" jdbcType="VARCHAR"/>
            <result column="app_name" property="appName" jdbcType="VARCHAR"/>
            <result column="key" property="key" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="VARCHAR"/>
            <result column="state" property="state" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">app_info</sql>
    <sql id="Base_Column_List">
            `id`,
            `app_id`,
            `app_name`,
            `key`,
            `create_time`,
            `state`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="appId != null and appId != ''">
                        AND `app_id`=#{appId}
                    </if>
                    <if test="appName != null and appName != ''">
                        AND `app_name`=#{appName}
                    </if>
                    <if test="key != null and key != ''">
                        AND `key`=#{key}
                    </if>
                    <if test="createTime != null and createTime != ''">
                        AND `create_time`=#{createTime}
                    </if>
                    <if test="state != null">
                        AND `state`=#{state}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.app.entity.AppInfo" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `app_id`,
            `app_name`,
            `key`,
            `create_time`,
            `state`
        )
        VALUES(
            #{id},
            #{appId},
            #{appName},
            #{key},
            #{createTime},
            #{state}
        )
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `app_id`,
            `app_name`,
            `key`,
            `create_time`,
            `state`
        )
        VALUES
        <foreach collection="list" item="cm" index="index" separator=",">
            (
            #{cm.id},
            #{cm.appId},
            #{cm.appName},
            #{cm.key},
            #{cm.createTime},
            #{cm.state}
            )
        </foreach>
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <select id="selectByAppId" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE app_id = #{appId} ORDER BY id DESC LIMIT 1
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.app.entity.AppInfo">
        UPDATE
        <include refid="table"/>
        <set>
            <if test="appId != null and appId != ''">
                 `app_id`=#{appId},
            </if>
            <if test="appName != null and appName != ''">
                 `app_name`=#{appName},
            </if>
            <if test="key != null and key != ''">
                 `key`=#{key},
            </if>
            <if test="createTime != null and createTime != ''">
                 `create_time`=#{createTime},
            </if>
            <if test="state != null">
                 `state`=#{state},
            </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>