<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zanclick.prepay.supplychain.mapper.SupplyChainBillMapper">
    <resultMap id="BaseResultMap" type="com.zanclick.prepay.supplychain.entity.SupplyChainBill">
            <id column="id" property="id" jdbcType="BIGINT"/>
            <result column="auth_no" property="authNo" jdbcType="VARCHAR"/>
            <result column="amount" property="amount" jdbcType="VARCHAR"/>
            <result column="install_num" property="installNum" jdbcType="VARCHAR"/>
            <result column="start_date" property="start_date" jdbcType="TIMESTAMP"/>
            <result column="due_date" property="due_date" jdbcType="TIMESTAMP"/>
            <result column="fee" property="fee" jdbcType="VARCHAR"/>
            <result column="total_amount" property="totalAmount" jdbcType="VARCHAR"/>
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
            <result column="request_id" property="requestId" jdbcType="VARCHAR"/>
            <result column="fail_reason" property="failReason" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="table">supply_chain_bill</sql>
    <sql id="Base_Column_List">
            `id`,
            `auth_no`,
            `amount`,
            `install_num`,
            `start_date`,
            `due_date`,
            `fee`,
            `total_amount`,
            `create_time`,
            `request_id`,
            `fail_reason`
    </sql>
    <sql id="Base_Where_Clause">
        <where>
            <trim prefixOverrides="and">
                    <if test="id != null">
                        AND `id`=#{id}
                    </if>
                    <if test="authNo != null and authNo != ''">
                        AND `auth_no`=#{authNo}
                    </if>
                    <if test="amount != null and amount != ''">
                        AND `amount`=#{amount}
                    </if>
                    <if test="installNum != null and installNum != ''">
                        AND `install_num`=#{installNum}
                    </if>
                    <if test="start_date != null">
                        AND `start_date`=#{start_date}
                    </if>
                    <if test="due_date != null">
                        AND `due_date`=#{due_date}
                    </if>
                    <if test="fee != null and fee != ''">
                        AND `fee`=#{fee}
                    </if>
                    <if test="totalAmount != null and totalAmount != ''">
                        AND `total_amount`=#{totalAmount}
                    </if>
                    <if test="createTime != null">
                        AND `create_time`=#{createTime}
                    </if>
                    <if test="requestId != null and requestId != ''">
                        AND `request_id`=#{requestId}
                    </if>
                    <if test="failReason != null and failReason != ''">
                        AND `fail_reason`=#{failReason}
                    </if>
            </trim>
        </where>
        <if test="offset == null and limit != null">
            limit #{limit}
        </if>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </sql>

    <!-- 查询总数 -->
    <select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
        SELECT count(id)
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <!-- 查询 -->
    <select id="select" resultMap="BaseResultMap" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        <include refid="Base_Where_Clause"/>
    </select>

    <insert id="insert" parameterType="com.zanclick.prepay.supplychain.entity.SupplyChainBill" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO
        <include refid="table"/>
        (
            `id`,
            `auth_no`,
            `amount`,
            `install_num`,
            `start_date`,
            `due_date`,
            `fee`,
            `total_amount`,
            `create_time`,
            `request_id`,
            `fail_reason`
        )
        VALUES(
            #{id},
            #{authNo},
            #{amount},
            #{installNum},
            #{start_date},
            #{due_date},
            #{fee},
            #{totalAmount},
            #{createTime},
            #{requestId},
            #{failReason}
        )
    </insert>

    <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="table"/>
        WHERE id=#{id}
    </select>

    <update id="updateById" parameterType="com.zanclick.prepay.supplychain.entity.SupplyChainBill">
        UPDATE
        <include refid="table"/>
        <set>
                    <if test="authNo != null and authNo != ''">
                         `auth_no`=#{authNo}
                    </if>
                    <if test="amount != null and amount != ''">
                         `amount`=#{amount}
                    </if>
                    <if test="installNum != null and installNum != ''">
                         `install_num`=#{installNum}
                    </if>
                    <if test="start_date != null">
                         `start_date`=#{start_date}
                    </if>
                    <if test="due_date != null">
                         `due_date`=#{due_date}
                    </if>
                    <if test="fee != null and fee != ''">
                         `fee`=#{fee}
                    </if>
                    <if test="totalAmount != null and totalAmount != ''">
                         `total_amount`=#{totalAmount}
                    </if>
                    <if test="createTime != null">
                         `create_time`=#{createTime}
                    </if>
                    <if test="requestId != null and requestId != ''">
                         `request_id`=#{requestId}
                    </if>
                    <if test="failReason != null and failReason != ''">
                         `fail_reason`=#{failReason}
                    </if>
        </set>
        WHERE id=#{id}
    </update>
</mapper>